html,
body {
  height: 100%;
  overflow: hidden;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App {
  display: flex;
  flex: 1 0 auto;
  align-items: stretch;
}

.Dummy {
  flex: 4 0;
  overflow: hidden;
}
